.container {
  width: 100%;
  background-color: rgb(26, 29, 31);
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment {
  width: 90%;
  margin: 20px;
  padding: 10px;
  background-color: rgb(17, 19, 21);
  color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
